* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B7B7B7;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    background: linear-gradient(135deg, #808080, #adadad);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 13%;
}

.logo:hover {
    transform: scale(1.5);
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
    transition: width 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: rgb(0, 24, 163);
}

nav ul li a:hover::after {
    width: 100%;
}

.btn {
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgb(0, 24, 163);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Ticket-system {
    font-size: 350%;
    position: absolute;
    left: 5%;
    top: 15%;
}

.pres {
    font-size: 120%;
    position: absolute;
    left: 5%;
    top: 40%;
}

.btn-section {
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-section:hover {
    background: rgb(0, 24, 163);
    transform: translateY(-4px);
    box-shadow: all 0.3s ease;
}

.our-store {
    width: 10%;
}